@font-face {
	font-family: "FontAwesomeLabelAddon";
	src: url(../../../VAADIN/addons/font-awesome-label/fontawesome-webfont.eot?v=4.7.0);
	src: url(../../../VAADIN/addons/font-awesome-label/fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"), url(../../../VAADIN/addons/font-awesome-label/fontawesome-webfont.woff2?v=4.7.0) format("woff2"), url(../../../VAADIN/addons/font-awesome-label/fontawesome-webfont.woff?v=4.7.0) format("woff"), url(../../../VAADIN/addons/font-awesome-label/fontawesome-webfont.ttf?v=4.7.0) format("truetype"), url(../../../VAADIN/addons/font-awesome-label/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg");
	font-weight: normal;
	font-style: normal;
}

@-webkit-keyframes fa-spin {
		0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
		100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
	}

@keyframes fa-spin {
		0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
		100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
	}

.settings {
	margin: 16px 16px 16px 16px !important;
}

.image-row {
	display: flex !important;
	flex-direction: column !important;
}

.selected-item {
	background-color: #e2e8f0;
}

.bar-menu {
	display: flex !important;
	justify-content: space-between !important;
	flex-wrap: wrap !important;
	margin: 0 !important;
}

.bar-menu .v-menubar-menuitem {
	height: 100%;
	padding: 8px 16px 8px 16px !important;
	margin: 5px 16px 5px 16px;
	border: 1px solid #e2e8f0;
	padding: 5px;
	border-radius: 4px;
	color: white;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	background-color: #000;
}

.repositories {
	width: auto !important;
}

.profile-image {
	max-width: 100% !important;
	max-height: 100% !important;
	width: auto !important;
	height: auto !important;
}

.bar-menu .v-menubar-menuitem:active {
	filter: drop-shadow(0 0 0 steelblue);
	box-sizing: border-box;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.item {
	margin-right: 16px !important;
}

@media screen and (max-width: 700px) {
	.bar-menu .v-menubar-menuitem {
		width: 100%;
		text-align: center;
	}
}

.user-profile {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	padding: 8px;
}

.basic-info {
	flex: 1 1 0%;
	margin-bottom: 16px;
}

.basic-info div {
	margin-bottom: 8px;
}

.grid-cell {
	padding: 1rem;
	border: 1px solid #d0d7de;
	border-radius: 6px;
}

.label {
	white-space: pre-wrap !important;
}

.file-preview .v-touchkit-componentgroup-row {
	height: 100%;
	padding: 0;
}

.file-preview textarea {
	padding: 1rem;
}

.mytheme {
	@-webkit-keyframes fa-spin {
		0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
		100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
	}
	@keyframes fa-spin {
		0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
		100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
	}
}

.mytheme .v-button-wrap .v-icon.FontAwesomeLabelAddon {
	line-height: inherit;
}

.mytheme .fa, .mytheme .FontAwesomeLabelAddon, .mytheme .FontAwesomeIconAddon {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesomeLabelAddon;
	font-size: inherit;
	text-rendering: auto;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mytheme .fa-lg {
	font-size: 1.33333em;
	line-height: 0.75em;
	vertical-align: -15%;
}

.mytheme .fa-2x {
	font-size: 2em;
}

.mytheme .fa-3x {
	font-size: 3em;
}

.mytheme .fa-4x {
	font-size: 4em;
}

.mytheme .fa-5x {
	font-size: 5em;
}

.mytheme .fa-6x {
	font-size: 6em;
}

.mytheme .fa-fw {
	width: 1.28571em;
	text-align: center;
}

.mytheme .fa-ul {
	padding-left: 0;
	margin-left: 2.14286em;
	list-style-type: none;
}

.mytheme .fa-ul > li {
	position: relative;
}

.mytheme .fa-li {
	position: absolute;
	left: -2.14286em;
	width: 2.14286em;
	top: 0.14286em;
	text-align: center;
}

.mytheme .fa-li.fa-lg {
	left: -1.85714em;
}

.mytheme .fa-border {
	padding: 0.2em 0.25em 0.15em;
	border: solid 0.08em #eeeeee;
	border-radius: 0.1em;
}

.mytheme .fa-pull-left {
	float: left;
}

.mytheme .fa-pull-right {
	float: right;
}

.mytheme .fa.fa-pull-left {
	margin-right: 0.3em;
}

.mytheme .fa.fa-pull-right {
	margin-left: 0.3em;
}

.mytheme .pull-right {
	float: right;
}

.mytheme .pull-left {
	float: left;
}

.mytheme .fa.pull-left {
	margin-right: 0.3em;
}

.mytheme .fa.pull-right {
	margin-left: 0.3em;
}

.mytheme .fa-spin {
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}

.mytheme .fa-pulse {
	-webkit-animation: fa-spin 1s infinite steps(8);
	animation: fa-spin 1s infinite steps(8);
}

.mytheme .fa-rotate-90 {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.mytheme .fa-rotate-180 {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.mytheme .fa-rotate-270 {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

.mytheme .fa-flip-horizontal {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.mytheme .fa-flip-vertical {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
	-webkit-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1);
}

.mytheme :root .fa-rotate-90, .mytheme :root .fa-rotate-180, .mytheme :root .fa-rotate-270, .mytheme :root .fa-flip-horizontal, .mytheme :root .fa-flip-vertical {
	filter: none;
}

.mytheme .fa-stack {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
}

.mytheme .fa-stack-1x, .mytheme .fa-stack-2x {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
}

.mytheme .fa-stack-1x {
	line-height: inherit;
}

.mytheme .fa-stack-2x {
	font-size: 2em;
}

.mytheme .fa-inverse {
	color: #ffffff;
}

.mytheme .fa-glass:before {
	content: "\f000";
}

.mytheme .fa-music:before {
	content: "\f001";
}

.mytheme .fa-search:before {
	content: "\f002";
}

.mytheme .fa-envelope-o:before {
	content: "\f003";
}

.mytheme .fa-heart:before {
	content: "\f004";
}

.mytheme .fa-star:before {
	content: "\f005";
}

.mytheme .fa-star-o:before {
	content: "\f006";
}

.mytheme .fa-user:before {
	content: "\f007";
}

.mytheme .fa-film:before {
	content: "\f008";
}

.mytheme .fa-th-large:before {
	content: "\f009";
}

.mytheme .fa-th:before {
	content: "\f00a";
}

.mytheme .fa-th-list:before {
	content: "\f00b";
}

.mytheme .fa-check:before {
	content: "\f00c";
}

.mytheme .fa-remove:before, .mytheme .fa-close:before, .mytheme .fa-times:before {
	content: "\f00d";
}

.mytheme .fa-search-plus:before {
	content: "\f00e";
}

.mytheme .fa-search-minus:before {
	content: "\f010";
}

.mytheme .fa-power-off:before {
	content: "\f011";
}

.mytheme .fa-signal:before {
	content: "\f012";
}

.mytheme .fa-gear:before, .mytheme .fa-cog:before {
	content: "\f013";
}

.mytheme .fa-trash-o:before {
	content: "\f014";
}

.mytheme .fa-home:before {
	content: "\f015";
}

.mytheme .fa-file-o:before {
	content: "\f016";
}

.mytheme .fa-clock-o:before {
	content: "\f017";
}

.mytheme .fa-road:before {
	content: "\f018";
}

.mytheme .fa-download:before {
	content: "\f019";
}

.mytheme .fa-arrow-circle-o-down:before {
	content: "\f01a";
}

.mytheme .fa-arrow-circle-o-up:before {
	content: "\f01b";
}

.mytheme .fa-inbox:before {
	content: "\f01c";
}

.mytheme .fa-play-circle-o:before {
	content: "\f01d";
}

.mytheme .fa-rotate-right:before, .mytheme .fa-repeat:before {
	content: "\f01e";
}

.mytheme .fa-refresh:before {
	content: "\f021";
}

.mytheme .fa-list-alt:before {
	content: "\f022";
}

.mytheme .fa-lock:before {
	content: "\f023";
}

.mytheme .fa-flag:before {
	content: "\f024";
}

.mytheme .fa-headphones:before {
	content: "\f025";
}

.mytheme .fa-volume-off:before {
	content: "\f026";
}

.mytheme .fa-volume-down:before {
	content: "\f027";
}

.mytheme .fa-volume-up:before {
	content: "\f028";
}

.mytheme .fa-qrcode:before {
	content: "\f029";
}

.mytheme .fa-barcode:before {
	content: "\f02a";
}

.mytheme .fa-tag:before {
	content: "\f02b";
}

.mytheme .fa-tags:before {
	content: "\f02c";
}

.mytheme .fa-book:before {
	content: "\f02d";
}

.mytheme .fa-bookmark:before {
	content: "\f02e";
}

.mytheme .fa-print:before {
	content: "\f02f";
}

.mytheme .fa-camera:before {
	content: "\f030";
}

.mytheme .fa-font:before {
	content: "\f031";
}

.mytheme .fa-bold:before {
	content: "\f032";
}

.mytheme .fa-italic:before {
	content: "\f033";
}

.mytheme .fa-text-height:before {
	content: "\f034";
}

.mytheme .fa-text-width:before {
	content: "\f035";
}

.mytheme .fa-align-left:before {
	content: "\f036";
}

.mytheme .fa-align-center:before {
	content: "\f037";
}

.mytheme .fa-align-right:before {
	content: "\f038";
}

.mytheme .fa-align-justify:before {
	content: "\f039";
}

.mytheme .fa-list:before {
	content: "\f03a";
}

.mytheme .fa-dedent:before, .mytheme .fa-outdent:before {
	content: "\f03b";
}

.mytheme .fa-indent:before {
	content: "\f03c";
}

.mytheme .fa-video-camera:before {
	content: "\f03d";
}

.mytheme .fa-photo:before, .mytheme .fa-image:before, .mytheme .fa-picture-o:before {
	content: "\f03e";
}

.mytheme .fa-pencil:before {
	content: "\f040";
}

.mytheme .fa-map-marker:before {
	content: "\f041";
}

.mytheme .fa-adjust:before {
	content: "\f042";
}

.mytheme .fa-tint:before {
	content: "\f043";
}

.mytheme .fa-edit:before, .mytheme .fa-pencil-square-o:before {
	content: "\f044";
}

.mytheme .fa-share-square-o:before {
	content: "\f045";
}

.mytheme .fa-check-square-o:before {
	content: "\f046";
}

.mytheme .fa-arrows:before {
	content: "\f047";
}

.mytheme .fa-step-backward:before {
	content: "\f048";
}

.mytheme .fa-fast-backward:before {
	content: "\f049";
}

.mytheme .fa-backward:before {
	content: "\f04a";
}

.mytheme .fa-play:before {
	content: "\f04b";
}

.mytheme .fa-pause:before {
	content: "\f04c";
}

.mytheme .fa-stop:before {
	content: "\f04d";
}

.mytheme .fa-forward:before {
	content: "\f04e";
}

.mytheme .fa-fast-forward:before {
	content: "\f050";
}

.mytheme .fa-step-forward:before {
	content: "\f051";
}

.mytheme .fa-eject:before {
	content: "\f052";
}

.mytheme .fa-chevron-left:before {
	content: "\f053";
}

.mytheme .fa-chevron-right:before {
	content: "\f054";
}

.mytheme .fa-plus-circle:before {
	content: "\f055";
}

.mytheme .fa-minus-circle:before {
	content: "\f056";
}

.mytheme .fa-times-circle:before {
	content: "\f057";
}

.mytheme .fa-check-circle:before {
	content: "\f058";
}

.mytheme .fa-question-circle:before {
	content: "\f059";
}

.mytheme .fa-info-circle:before {
	content: "\f05a";
}

.mytheme .fa-crosshairs:before {
	content: "\f05b";
}

.mytheme .fa-times-circle-o:before {
	content: "\f05c";
}

.mytheme .fa-check-circle-o:before {
	content: "\f05d";
}

.mytheme .fa-ban:before {
	content: "\f05e";
}

.mytheme .fa-arrow-left:before {
	content: "\f060";
}

.mytheme .fa-arrow-right:before {
	content: "\f061";
}

.mytheme .fa-arrow-up:before {
	content: "\f062";
}

.mytheme .fa-arrow-down:before {
	content: "\f063";
}

.mytheme .fa-mail-forward:before, .mytheme .fa-share:before {
	content: "\f064";
}

.mytheme .fa-expand:before {
	content: "\f065";
}

.mytheme .fa-compress:before {
	content: "\f066";
}

.mytheme .fa-plus:before {
	content: "\f067";
}

.mytheme .fa-minus:before {
	content: "\f068";
}

.mytheme .fa-asterisk:before {
	content: "\f069";
}

.mytheme .fa-exclamation-circle:before {
	content: "\f06a";
}

.mytheme .fa-gift:before {
	content: "\f06b";
}

.mytheme .fa-leaf:before {
	content: "\f06c";
}

.mytheme .fa-fire:before {
	content: "\f06d";
}

.mytheme .fa-eye:before {
	content: "\f06e";
}

.mytheme .fa-eye-slash:before {
	content: "\f070";
}

.mytheme .fa-warning:before, .mytheme .fa-exclamation-triangle:before {
	content: "\f071";
}

.mytheme .fa-plane:before {
	content: "\f072";
}

.mytheme .fa-calendar:before {
	content: "\f073";
}

.mytheme .fa-random:before {
	content: "\f074";
}

.mytheme .fa-comment:before {
	content: "\f075";
}

.mytheme .fa-magnet:before {
	content: "\f076";
}

.mytheme .fa-chevron-up:before {
	content: "\f077";
}

.mytheme .fa-chevron-down:before {
	content: "\f078";
}

.mytheme .fa-retweet:before {
	content: "\f079";
}

.mytheme .fa-shopping-cart:before {
	content: "\f07a";
}

.mytheme .fa-folder:before {
	content: "\f07b";
}

.mytheme .fa-folder-open:before {
	content: "\f07c";
}

.mytheme .fa-arrows-v:before {
	content: "\f07d";
}

.mytheme .fa-arrows-h:before {
	content: "\f07e";
}

.mytheme .fa-bar-chart-o:before, .mytheme .fa-bar-chart:before {
	content: "\f080";
}

.mytheme .fa-twitter-square:before {
	content: "\f081";
}

.mytheme .fa-facebook-square:before {
	content: "\f082";
}

.mytheme .fa-camera-retro:before {
	content: "\f083";
}

.mytheme .fa-key:before {
	content: "\f084";
}

.mytheme .fa-gears:before, .mytheme .fa-cogs:before {
	content: "\f085";
}

.mytheme .fa-comments:before {
	content: "\f086";
}

.mytheme .fa-thumbs-o-up:before {
	content: "\f087";
}

.mytheme .fa-thumbs-o-down:before {
	content: "\f088";
}

.mytheme .fa-star-half:before {
	content: "\f089";
}

.mytheme .fa-heart-o:before {
	content: "\f08a";
}

.mytheme .fa-sign-out:before {
	content: "\f08b";
}

.mytheme .fa-linkedin-square:before {
	content: "\f08c";
}

.mytheme .fa-thumb-tack:before {
	content: "\f08d";
}

.mytheme .fa-external-link:before {
	content: "\f08e";
}

.mytheme .fa-sign-in:before {
	content: "\f090";
}

.mytheme .fa-trophy:before {
	content: "\f091";
}

.mytheme .fa-github-square:before {
	content: "\f092";
}

.mytheme .fa-upload:before {
	content: "\f093";
}

.mytheme .fa-lemon-o:before {
	content: "\f094";
}

.mytheme .fa-phone:before {
	content: "\f095";
}

.mytheme .fa-square-o:before {
	content: "\f096";
}

.mytheme .fa-bookmark-o:before {
	content: "\f097";
}

.mytheme .fa-phone-square:before {
	content: "\f098";
}

.mytheme .fa-twitter:before {
	content: "\f099";
}

.mytheme .fa-facebook-f:before, .mytheme .fa-facebook:before {
	content: "\f09a";
}

.mytheme .fa-github:before {
	content: "\f09b";
}

.mytheme .fa-unlock:before {
	content: "\f09c";
}

.mytheme .fa-credit-card:before {
	content: "\f09d";
}

.mytheme .fa-feed:before, .mytheme .fa-rss:before {
	content: "\f09e";
}

.mytheme .fa-hdd-o:before {
	content: "\f0a0";
}

.mytheme .fa-bullhorn:before {
	content: "\f0a1";
}

.mytheme .fa-bell:before {
	content: "\f0f3";
}

.mytheme .fa-certificate:before {
	content: "\f0a3";
}

.mytheme .fa-hand-o-right:before {
	content: "\f0a4";
}

.mytheme .fa-hand-o-left:before {
	content: "\f0a5";
}

.mytheme .fa-hand-o-up:before {
	content: "\f0a6";
}

.mytheme .fa-hand-o-down:before {
	content: "\f0a7";
}

.mytheme .fa-arrow-circle-left:before {
	content: "\f0a8";
}

.mytheme .fa-arrow-circle-right:before {
	content: "\f0a9";
}

.mytheme .fa-arrow-circle-up:before {
	content: "\f0aa";
}

.mytheme .fa-arrow-circle-down:before {
	content: "\f0ab";
}

.mytheme .fa-globe:before {
	content: "\f0ac";
}

.mytheme .fa-wrench:before {
	content: "\f0ad";
}

.mytheme .fa-tasks:before {
	content: "\f0ae";
}

.mytheme .fa-filter:before {
	content: "\f0b0";
}

.mytheme .fa-briefcase:before {
	content: "\f0b1";
}

.mytheme .fa-arrows-alt:before {
	content: "\f0b2";
}

.mytheme .fa-group:before, .mytheme .fa-users:before {
	content: "\f0c0";
}

.mytheme .fa-chain:before, .mytheme .fa-link:before {
	content: "\f0c1";
}

.mytheme .fa-cloud:before {
	content: "\f0c2";
}

.mytheme .fa-flask:before {
	content: "\f0c3";
}

.mytheme .fa-cut:before, .mytheme .fa-scissors:before {
	content: "\f0c4";
}

.mytheme .fa-copy:before, .mytheme .fa-files-o:before {
	content: "\f0c5";
}

.mytheme .fa-paperclip:before {
	content: "\f0c6";
}

.mytheme .fa-save:before, .mytheme .fa-floppy-o:before {
	content: "\f0c7";
}

.mytheme .fa-square:before {
	content: "\f0c8";
}

.mytheme .fa-navicon:before, .mytheme .fa-reorder:before, .mytheme .fa-bars:before {
	content: "\f0c9";
}

.mytheme .fa-list-ul:before {
	content: "\f0ca";
}

.mytheme .fa-list-ol:before {
	content: "\f0cb";
}

.mytheme .fa-strikethrough:before {
	content: "\f0cc";
}

.mytheme .fa-underline:before {
	content: "\f0cd";
}

.mytheme .fa-table:before {
	content: "\f0ce";
}

.mytheme .fa-magic:before {
	content: "\f0d0";
}

.mytheme .fa-truck:before {
	content: "\f0d1";
}

.mytheme .fa-pinterest:before {
	content: "\f0d2";
}

.mytheme .fa-pinterest-square:before {
	content: "\f0d3";
}

.mytheme .fa-google-plus-square:before {
	content: "\f0d4";
}

.mytheme .fa-google-plus:before {
	content: "\f0d5";
}

.mytheme .fa-money:before {
	content: "\f0d6";
}

.mytheme .fa-caret-down:before {
	content: "\f0d7";
}

.mytheme .fa-caret-up:before {
	content: "\f0d8";
}

.mytheme .fa-caret-left:before {
	content: "\f0d9";
}

.mytheme .fa-caret-right:before {
	content: "\f0da";
}

.mytheme .fa-columns:before {
	content: "\f0db";
}

.mytheme .fa-unsorted:before, .mytheme .fa-sort:before {
	content: "\f0dc";
}

.mytheme .fa-sort-down:before, .mytheme .fa-sort-desc:before {
	content: "\f0dd";
}

.mytheme .fa-sort-up:before, .mytheme .fa-sort-asc:before {
	content: "\f0de";
}

.mytheme .fa-envelope:before {
	content: "\f0e0";
}

.mytheme .fa-linkedin:before {
	content: "\f0e1";
}

.mytheme .fa-rotate-left:before, .mytheme .fa-undo:before {
	content: "\f0e2";
}

.mytheme .fa-legal:before, .mytheme .fa-gavel:before {
	content: "\f0e3";
}

.mytheme .fa-dashboard:before, .mytheme .fa-tachometer:before {
	content: "\f0e4";
}

.mytheme .fa-comment-o:before {
	content: "\f0e5";
}

.mytheme .fa-comments-o:before {
	content: "\f0e6";
}

.mytheme .fa-flash:before, .mytheme .fa-bolt:before {
	content: "\f0e7";
}

.mytheme .fa-sitemap:before {
	content: "\f0e8";
}

.mytheme .fa-umbrella:before {
	content: "\f0e9";
}

.mytheme .fa-paste:before, .mytheme .fa-clipboard:before {
	content: "\f0ea";
}

.mytheme .fa-lightbulb-o:before {
	content: "\f0eb";
}

.mytheme .fa-exchange:before {
	content: "\f0ec";
}

.mytheme .fa-cloud-download:before {
	content: "\f0ed";
}

.mytheme .fa-cloud-upload:before {
	content: "\f0ee";
}

.mytheme .fa-user-md:before {
	content: "\f0f0";
}

.mytheme .fa-stethoscope:before {
	content: "\f0f1";
}

.mytheme .fa-suitcase:before {
	content: "\f0f2";
}

.mytheme .fa-bell-o:before {
	content: "\f0a2";
}

.mytheme .fa-coffee:before {
	content: "\f0f4";
}

.mytheme .fa-cutlery:before {
	content: "\f0f5";
}

.mytheme .fa-file-text-o:before {
	content: "\f0f6";
}

.mytheme .fa-building-o:before {
	content: "\f0f7";
}

.mytheme .fa-hospital-o:before {
	content: "\f0f8";
}

.mytheme .fa-ambulance:before {
	content: "\f0f9";
}

.mytheme .fa-medkit:before {
	content: "\f0fa";
}

.mytheme .fa-fighter-jet:before {
	content: "\f0fb";
}

.mytheme .fa-beer:before {
	content: "\f0fc";
}

.mytheme .fa-h-square:before {
	content: "\f0fd";
}

.mytheme .fa-plus-square:before {
	content: "\f0fe";
}

.mytheme .fa-angle-double-left:before {
	content: "\f100";
}

.mytheme .fa-angle-double-right:before {
	content: "\f101";
}

.mytheme .fa-angle-double-up:before {
	content: "\f102";
}

.mytheme .fa-angle-double-down:before {
	content: "\f103";
}

.mytheme .fa-angle-left:before {
	content: "\f104";
}

.mytheme .fa-angle-right:before {
	content: "\f105";
}

.mytheme .fa-angle-up:before {
	content: "\f106";
}

.mytheme .fa-angle-down:before {
	content: "\f107";
}

.mytheme .fa-desktop:before {
	content: "\f108";
}

.mytheme .fa-laptop:before {
	content: "\f109";
}

.mytheme .fa-tablet:before {
	content: "\f10a";
}

.mytheme .fa-mobile-phone:before, .mytheme .fa-mobile:before {
	content: "\f10b";
}

.mytheme .fa-circle-o:before {
	content: "\f10c";
}

.mytheme .fa-quote-left:before {
	content: "\f10d";
}

.mytheme .fa-quote-right:before {
	content: "\f10e";
}

.mytheme .fa-spinner:before {
	content: "\f110";
}

.mytheme .fa-circle:before {
	content: "\f111";
}

.mytheme .fa-mail-reply:before, .mytheme .fa-reply:before {
	content: "\f112";
}

.mytheme .fa-github-alt:before {
	content: "\f113";
}

.mytheme .fa-folder-o:before {
	content: "\f114";
}

.mytheme .fa-folder-open-o:before {
	content: "\f115";
}

.mytheme .fa-smile-o:before {
	content: "\f118";
}

.mytheme .fa-frown-o:before {
	content: "\f119";
}

.mytheme .fa-meh-o:before {
	content: "\f11a";
}

.mytheme .fa-gamepad:before {
	content: "\f11b";
}

.mytheme .fa-keyboard-o:before {
	content: "\f11c";
}

.mytheme .fa-flag-o:before {
	content: "\f11d";
}

.mytheme .fa-flag-checkered:before {
	content: "\f11e";
}

.mytheme .fa-terminal:before {
	content: "\f120";
}

.mytheme .fa-code:before {
	content: "\f121";
}

.mytheme .fa-mail-reply-all:before, .mytheme .fa-reply-all:before {
	content: "\f122";
}

.mytheme .fa-star-half-empty:before, .mytheme .fa-star-half-full:before, .mytheme .fa-star-half-o:before {
	content: "\f123";
}

.mytheme .fa-location-arrow:before {
	content: "\f124";
}

.mytheme .fa-crop:before {
	content: "\f125";
}

.mytheme .fa-code-fork:before {
	content: "\f126";
}

.mytheme .fa-unlink:before, .mytheme .fa-chain-broken:before {
	content: "\f127";
}

.mytheme .fa-question:before {
	content: "\f128";
}

.mytheme .fa-info:before {
	content: "\f129";
}

.mytheme .fa-exclamation:before {
	content: "\f12a";
}

.mytheme .fa-superscript:before {
	content: "\f12b";
}

.mytheme .fa-subscript:before {
	content: "\f12c";
}

.mytheme .fa-eraser:before {
	content: "\f12d";
}

.mytheme .fa-puzzle-piece:before {
	content: "\f12e";
}

.mytheme .fa-microphone:before {
	content: "\f130";
}

.mytheme .fa-microphone-slash:before {
	content: "\f131";
}

.mytheme .fa-shield:before {
	content: "\f132";
}

.mytheme .fa-calendar-o:before {
	content: "\f133";
}

.mytheme .fa-fire-extinguisher:before {
	content: "\f134";
}

.mytheme .fa-rocket:before {
	content: "\f135";
}

.mytheme .fa-maxcdn:before {
	content: "\f136";
}

.mytheme .fa-chevron-circle-left:before {
	content: "\f137";
}

.mytheme .fa-chevron-circle-right:before {
	content: "\f138";
}

.mytheme .fa-chevron-circle-up:before {
	content: "\f139";
}

.mytheme .fa-chevron-circle-down:before {
	content: "\f13a";
}

.mytheme .fa-html5:before {
	content: "\f13b";
}

.mytheme .fa-css3:before {
	content: "\f13c";
}

.mytheme .fa-anchor:before {
	content: "\f13d";
}

.mytheme .fa-unlock-alt:before {
	content: "\f13e";
}

.mytheme .fa-bullseye:before {
	content: "\f140";
}

.mytheme .fa-ellipsis-h:before {
	content: "\f141";
}

.mytheme .fa-ellipsis-v:before {
	content: "\f142";
}

.mytheme .fa-rss-square:before {
	content: "\f143";
}

.mytheme .fa-play-circle:before {
	content: "\f144";
}

.mytheme .fa-ticket:before {
	content: "\f145";
}

.mytheme .fa-minus-square:before {
	content: "\f146";
}

.mytheme .fa-minus-square-o:before {
	content: "\f147";
}

.mytheme .fa-level-up:before {
	content: "\f148";
}

.mytheme .fa-level-down:before {
	content: "\f149";
}

.mytheme .fa-check-square:before {
	content: "\f14a";
}

.mytheme .fa-pencil-square:before {
	content: "\f14b";
}

.mytheme .fa-external-link-square:before {
	content: "\f14c";
}

.mytheme .fa-share-square:before {
	content: "\f14d";
}

.mytheme .fa-compass:before {
	content: "\f14e";
}

.mytheme .fa-toggle-down:before, .mytheme .fa-caret-square-o-down:before {
	content: "\f150";
}

.mytheme .fa-toggle-up:before, .mytheme .fa-caret-square-o-up:before {
	content: "\f151";
}

.mytheme .fa-toggle-right:before, .mytheme .fa-caret-square-o-right:before {
	content: "\f152";
}

.mytheme .fa-euro:before, .mytheme .fa-eur:before {
	content: "\f153";
}

.mytheme .fa-gbp:before {
	content: "\f154";
}

.mytheme .fa-dollar:before, .mytheme .fa-usd:before {
	content: "\f155";
}

.mytheme .fa-rupee:before, .mytheme .fa-inr:before {
	content: "\f156";
}

.mytheme .fa-cny:before, .mytheme .fa-rmb:before, .mytheme .fa-yen:before, .mytheme .fa-jpy:before {
	content: "\f157";
}

.mytheme .fa-ruble:before, .mytheme .fa-rouble:before, .mytheme .fa-rub:before {
	content: "\f158";
}

.mytheme .fa-won:before, .mytheme .fa-krw:before {
	content: "\f159";
}

.mytheme .fa-bitcoin:before, .mytheme .fa-btc:before {
	content: "\f15a";
}

.mytheme .fa-file:before {
	content: "\f15b";
}

.mytheme .fa-file-text:before {
	content: "\f15c";
}

.mytheme .fa-sort-alpha-asc:before {
	content: "\f15d";
}

.mytheme .fa-sort-alpha-desc:before {
	content: "\f15e";
}

.mytheme .fa-sort-amount-asc:before {
	content: "\f160";
}

.mytheme .fa-sort-amount-desc:before {
	content: "\f161";
}

.mytheme .fa-sort-numeric-asc:before {
	content: "\f162";
}

.mytheme .fa-sort-numeric-desc:before {
	content: "\f163";
}

.mytheme .fa-thumbs-up:before {
	content: "\f164";
}

.mytheme .fa-thumbs-down:before {
	content: "\f165";
}

.mytheme .fa-youtube-square:before {
	content: "\f166";
}

.mytheme .fa-youtube:before {
	content: "\f167";
}

.mytheme .fa-xing:before {
	content: "\f168";
}

.mytheme .fa-xing-square:before {
	content: "\f169";
}

.mytheme .fa-youtube-play:before {
	content: "\f16a";
}

.mytheme .fa-dropbox:before {
	content: "\f16b";
}

.mytheme .fa-stack-overflow:before {
	content: "\f16c";
}

.mytheme .fa-instagram:before {
	content: "\f16d";
}

.mytheme .fa-flickr:before {
	content: "\f16e";
}

.mytheme .fa-adn:before {
	content: "\f170";
}

.mytheme .fa-bitbucket:before {
	content: "\f171";
}

.mytheme .fa-bitbucket-square:before {
	content: "\f172";
}

.mytheme .fa-tumblr:before {
	content: "\f173";
}

.mytheme .fa-tumblr-square:before {
	content: "\f174";
}

.mytheme .fa-long-arrow-down:before {
	content: "\f175";
}

.mytheme .fa-long-arrow-up:before {
	content: "\f176";
}

.mytheme .fa-long-arrow-left:before {
	content: "\f177";
}

.mytheme .fa-long-arrow-right:before {
	content: "\f178";
}

.mytheme .fa-apple:before {
	content: "\f179";
}

.mytheme .fa-windows:before {
	content: "\f17a";
}

.mytheme .fa-android:before {
	content: "\f17b";
}

.mytheme .fa-linux:before {
	content: "\f17c";
}

.mytheme .fa-dribbble:before {
	content: "\f17d";
}

.mytheme .fa-skype:before {
	content: "\f17e";
}

.mytheme .fa-foursquare:before {
	content: "\f180";
}

.mytheme .fa-trello:before {
	content: "\f181";
}

.mytheme .fa-female:before {
	content: "\f182";
}

.mytheme .fa-male:before {
	content: "\f183";
}

.mytheme .fa-gittip:before, .mytheme .fa-gratipay:before {
	content: "\f184";
}

.mytheme .fa-sun-o:before {
	content: "\f185";
}

.mytheme .fa-moon-o:before {
	content: "\f186";
}

.mytheme .fa-archive:before {
	content: "\f187";
}

.mytheme .fa-bug:before {
	content: "\f188";
}

.mytheme .fa-vk:before {
	content: "\f189";
}

.mytheme .fa-weibo:before {
	content: "\f18a";
}

.mytheme .fa-renren:before {
	content: "\f18b";
}

.mytheme .fa-pagelines:before {
	content: "\f18c";
}

.mytheme .fa-stack-exchange:before {
	content: "\f18d";
}

.mytheme .fa-arrow-circle-o-right:before {
	content: "\f18e";
}

.mytheme .fa-arrow-circle-o-left:before {
	content: "\f190";
}

.mytheme .fa-toggle-left:before, .mytheme .fa-caret-square-o-left:before {
	content: "\f191";
}

.mytheme .fa-dot-circle-o:before {
	content: "\f192";
}

.mytheme .fa-wheelchair:before {
	content: "\f193";
}

.mytheme .fa-vimeo-square:before {
	content: "\f194";
}

.mytheme .fa-turkish-lira:before, .mytheme .fa-try:before {
	content: "\f195";
}

.mytheme .fa-plus-square-o:before {
	content: "\f196";
}

.mytheme .fa-space-shuttle:before {
	content: "\f197";
}

.mytheme .fa-slack:before {
	content: "\f198";
}

.mytheme .fa-envelope-square:before {
	content: "\f199";
}

.mytheme .fa-wordpress:before {
	content: "\f19a";
}

.mytheme .fa-openid:before {
	content: "\f19b";
}

.mytheme .fa-institution:before, .mytheme .fa-bank:before, .mytheme .fa-university:before {
	content: "\f19c";
}

.mytheme .fa-mortar-board:before, .mytheme .fa-graduation-cap:before {
	content: "\f19d";
}

.mytheme .fa-yahoo:before {
	content: "\f19e";
}

.mytheme .fa-google:before {
	content: "\f1a0";
}

.mytheme .fa-reddit:before {
	content: "\f1a1";
}

.mytheme .fa-reddit-square:before {
	content: "\f1a2";
}

.mytheme .fa-stumbleupon-circle:before {
	content: "\f1a3";
}

.mytheme .fa-stumbleupon:before {
	content: "\f1a4";
}

.mytheme .fa-delicious:before {
	content: "\f1a5";
}

.mytheme .fa-digg:before {
	content: "\f1a6";
}

.mytheme .fa-pied-piper-pp:before {
	content: "\f1a7";
}

.mytheme .fa-pied-piper-alt:before {
	content: "\f1a8";
}

.mytheme .fa-drupal:before {
	content: "\f1a9";
}

.mytheme .fa-joomla:before {
	content: "\f1aa";
}

.mytheme .fa-language:before {
	content: "\f1ab";
}

.mytheme .fa-fax:before {
	content: "\f1ac";
}

.mytheme .fa-building:before {
	content: "\f1ad";
}

.mytheme .fa-child:before {
	content: "\f1ae";
}

.mytheme .fa-paw:before {
	content: "\f1b0";
}

.mytheme .fa-spoon:before {
	content: "\f1b1";
}

.mytheme .fa-cube:before {
	content: "\f1b2";
}

.mytheme .fa-cubes:before {
	content: "\f1b3";
}

.mytheme .fa-behance:before {
	content: "\f1b4";
}

.mytheme .fa-behance-square:before {
	content: "\f1b5";
}

.mytheme .fa-steam:before {
	content: "\f1b6";
}

.mytheme .fa-steam-square:before {
	content: "\f1b7";
}

.mytheme .fa-recycle:before {
	content: "\f1b8";
}

.mytheme .fa-automobile:before, .mytheme .fa-car:before {
	content: "\f1b9";
}

.mytheme .fa-cab:before, .mytheme .fa-taxi:before {
	content: "\f1ba";
}

.mytheme .fa-tree:before {
	content: "\f1bb";
}

.mytheme .fa-spotify:before {
	content: "\f1bc";
}

.mytheme .fa-deviantart:before {
	content: "\f1bd";
}

.mytheme .fa-soundcloud:before {
	content: "\f1be";
}

.mytheme .fa-database:before {
	content: "\f1c0";
}

.mytheme .fa-file-pdf-o:before {
	content: "\f1c1";
}

.mytheme .fa-file-word-o:before {
	content: "\f1c2";
}

.mytheme .fa-file-excel-o:before {
	content: "\f1c3";
}

.mytheme .fa-file-powerpoint-o:before {
	content: "\f1c4";
}

.mytheme .fa-file-photo-o:before, .mytheme .fa-file-picture-o:before, .mytheme .fa-file-image-o:before {
	content: "\f1c5";
}

.mytheme .fa-file-zip-o:before, .mytheme .fa-file-archive-o:before {
	content: "\f1c6";
}

.mytheme .fa-file-sound-o:before, .mytheme .fa-file-audio-o:before {
	content: "\f1c7";
}

.mytheme .fa-file-movie-o:before, .mytheme .fa-file-video-o:before {
	content: "\f1c8";
}

.mytheme .fa-file-code-o:before {
	content: "\f1c9";
}

.mytheme .fa-vine:before {
	content: "\f1ca";
}

.mytheme .fa-codepen:before {
	content: "\f1cb";
}

.mytheme .fa-jsfiddle:before {
	content: "\f1cc";
}

.mytheme .fa-life-bouy:before, .mytheme .fa-life-buoy:before, .mytheme .fa-life-saver:before, .mytheme .fa-support:before, .mytheme .fa-life-ring:before {
	content: "\f1cd";
}

.mytheme .fa-circle-o-notch:before {
	content: "\f1ce";
}

.mytheme .fa-ra:before, .mytheme .fa-resistance:before, .mytheme .fa-rebel:before {
	content: "\f1d0";
}

.mytheme .fa-ge:before, .mytheme .fa-empire:before {
	content: "\f1d1";
}

.mytheme .fa-git-square:before {
	content: "\f1d2";
}

.mytheme .fa-git:before {
	content: "\f1d3";
}

.mytheme .fa-y-combinator-square:before, .mytheme .fa-yc-square:before, .mytheme .fa-hacker-news:before {
	content: "\f1d4";
}

.mytheme .fa-tencent-weibo:before {
	content: "\f1d5";
}

.mytheme .fa-qq:before {
	content: "\f1d6";
}

.mytheme .fa-wechat:before, .mytheme .fa-weixin:before {
	content: "\f1d7";
}

.mytheme .fa-send:before, .mytheme .fa-paper-plane:before {
	content: "\f1d8";
}

.mytheme .fa-send-o:before, .mytheme .fa-paper-plane-o:before {
	content: "\f1d9";
}

.mytheme .fa-history:before {
	content: "\f1da";
}

.mytheme .fa-circle-thin:before {
	content: "\f1db";
}

.mytheme .fa-header:before {
	content: "\f1dc";
}

.mytheme .fa-paragraph:before {
	content: "\f1dd";
}

.mytheme .fa-sliders:before {
	content: "\f1de";
}

.mytheme .fa-share-alt:before {
	content: "\f1e0";
}

.mytheme .fa-share-alt-square:before {
	content: "\f1e1";
}

.mytheme .fa-bomb:before {
	content: "\f1e2";
}

.mytheme .fa-soccer-ball-o:before, .mytheme .fa-futbol-o:before {
	content: "\f1e3";
}

.mytheme .fa-tty:before {
	content: "\f1e4";
}

.mytheme .fa-binoculars:before {
	content: "\f1e5";
}

.mytheme .fa-plug:before {
	content: "\f1e6";
}

.mytheme .fa-slideshare:before {
	content: "\f1e7";
}

.mytheme .fa-twitch:before {
	content: "\f1e8";
}

.mytheme .fa-yelp:before {
	content: "\f1e9";
}

.mytheme .fa-newspaper-o:before {
	content: "\f1ea";
}

.mytheme .fa-wifi:before {
	content: "\f1eb";
}

.mytheme .fa-calculator:before {
	content: "\f1ec";
}

.mytheme .fa-paypal:before {
	content: "\f1ed";
}

.mytheme .fa-google-wallet:before {
	content: "\f1ee";
}

.mytheme .fa-cc-visa:before {
	content: "\f1f0";
}

.mytheme .fa-cc-mastercard:before {
	content: "\f1f1";
}

.mytheme .fa-cc-discover:before {
	content: "\f1f2";
}

.mytheme .fa-cc-amex:before {
	content: "\f1f3";
}

.mytheme .fa-cc-paypal:before {
	content: "\f1f4";
}

.mytheme .fa-cc-stripe:before {
	content: "\f1f5";
}

.mytheme .fa-bell-slash:before {
	content: "\f1f6";
}

.mytheme .fa-bell-slash-o:before {
	content: "\f1f7";
}

.mytheme .fa-trash:before {
	content: "\f1f8";
}

.mytheme .fa-copyright:before {
	content: "\f1f9";
}

.mytheme .fa-at:before {
	content: "\f1fa";
}

.mytheme .fa-eyedropper:before {
	content: "\f1fb";
}

.mytheme .fa-paint-brush:before {
	content: "\f1fc";
}

.mytheme .fa-birthday-cake:before {
	content: "\f1fd";
}

.mytheme .fa-area-chart:before {
	content: "\f1fe";
}

.mytheme .fa-pie-chart:before {
	content: "\f200";
}

.mytheme .fa-line-chart:before {
	content: "\f201";
}

.mytheme .fa-lastfm:before {
	content: "\f202";
}

.mytheme .fa-lastfm-square:before {
	content: "\f203";
}

.mytheme .fa-toggle-off:before {
	content: "\f204";
}

.mytheme .fa-toggle-on:before {
	content: "\f205";
}

.mytheme .fa-bicycle:before {
	content: "\f206";
}

.mytheme .fa-bus:before {
	content: "\f207";
}

.mytheme .fa-ioxhost:before {
	content: "\f208";
}

.mytheme .fa-angellist:before {
	content: "\f209";
}

.mytheme .fa-cc:before {
	content: "\f20a";
}

.mytheme .fa-shekel:before, .mytheme .fa-sheqel:before, .mytheme .fa-ils:before {
	content: "\f20b";
}

.mytheme .fa-meanpath:before {
	content: "\f20c";
}

.mytheme .fa-buysellads:before {
	content: "\f20d";
}

.mytheme .fa-connectdevelop:before {
	content: "\f20e";
}

.mytheme .fa-dashcube:before {
	content: "\f210";
}

.mytheme .fa-forumbee:before {
	content: "\f211";
}

.mytheme .fa-leanpub:before {
	content: "\f212";
}

.mytheme .fa-sellsy:before {
	content: "\f213";
}

.mytheme .fa-shirtsinbulk:before {
	content: "\f214";
}

.mytheme .fa-simplybuilt:before {
	content: "\f215";
}

.mytheme .fa-skyatlas:before {
	content: "\f216";
}

.mytheme .fa-cart-plus:before {
	content: "\f217";
}

.mytheme .fa-cart-arrow-down:before {
	content: "\f218";
}

.mytheme .fa-diamond:before {
	content: "\f219";
}

.mytheme .fa-ship:before {
	content: "\f21a";
}

.mytheme .fa-user-secret:before {
	content: "\f21b";
}

.mytheme .fa-motorcycle:before {
	content: "\f21c";
}

.mytheme .fa-street-view:before {
	content: "\f21d";
}

.mytheme .fa-heartbeat:before {
	content: "\f21e";
}

.mytheme .fa-venus:before {
	content: "\f221";
}

.mytheme .fa-mars:before {
	content: "\f222";
}

.mytheme .fa-mercury:before {
	content: "\f223";
}

.mytheme .fa-intersex:before, .mytheme .fa-transgender:before {
	content: "\f224";
}

.mytheme .fa-transgender-alt:before {
	content: "\f225";
}

.mytheme .fa-venus-double:before {
	content: "\f226";
}

.mytheme .fa-mars-double:before {
	content: "\f227";
}

.mytheme .fa-venus-mars:before {
	content: "\f228";
}

.mytheme .fa-mars-stroke:before {
	content: "\f229";
}

.mytheme .fa-mars-stroke-v:before {
	content: "\f22a";
}

.mytheme .fa-mars-stroke-h:before {
	content: "\f22b";
}

.mytheme .fa-neuter:before {
	content: "\f22c";
}

.mytheme .fa-genderless:before {
	content: "\f22d";
}

.mytheme .fa-facebook-official:before {
	content: "\f230";
}

.mytheme .fa-pinterest-p:before {
	content: "\f231";
}

.mytheme .fa-whatsapp:before {
	content: "\f232";
}

.mytheme .fa-server:before {
	content: "\f233";
}

.mytheme .fa-user-plus:before {
	content: "\f234";
}

.mytheme .fa-user-times:before {
	content: "\f235";
}

.mytheme .fa-hotel:before, .mytheme .fa-bed:before {
	content: "\f236";
}

.mytheme .fa-viacoin:before {
	content: "\f237";
}

.mytheme .fa-train:before {
	content: "\f238";
}

.mytheme .fa-subway:before {
	content: "\f239";
}

.mytheme .fa-medium:before {
	content: "\f23a";
}

.mytheme .fa-yc:before, .mytheme .fa-y-combinator:before {
	content: "\f23b";
}

.mytheme .fa-optin-monster:before {
	content: "\f23c";
}

.mytheme .fa-opencart:before {
	content: "\f23d";
}

.mytheme .fa-expeditedssl:before {
	content: "\f23e";
}

.mytheme .fa-battery-4:before, .mytheme .fa-battery:before, .mytheme .fa-battery-full:before {
	content: "\f240";
}

.mytheme .fa-battery-3:before, .mytheme .fa-battery-three-quarters:before {
	content: "\f241";
}

.mytheme .fa-battery-2:before, .mytheme .fa-battery-half:before {
	content: "\f242";
}

.mytheme .fa-battery-1:before, .mytheme .fa-battery-quarter:before {
	content: "\f243";
}

.mytheme .fa-battery-0:before, .mytheme .fa-battery-empty:before {
	content: "\f244";
}

.mytheme .fa-mouse-pointer:before {
	content: "\f245";
}

.mytheme .fa-i-cursor:before {
	content: "\f246";
}

.mytheme .fa-object-group:before {
	content: "\f247";
}

.mytheme .fa-object-ungroup:before {
	content: "\f248";
}

.mytheme .fa-sticky-note:before {
	content: "\f249";
}

.mytheme .fa-sticky-note-o:before {
	content: "\f24a";
}

.mytheme .fa-cc-jcb:before {
	content: "\f24b";
}

.mytheme .fa-cc-diners-club:before {
	content: "\f24c";
}

.mytheme .fa-clone:before {
	content: "\f24d";
}

.mytheme .fa-balance-scale:before {
	content: "\f24e";
}

.mytheme .fa-hourglass-o:before {
	content: "\f250";
}

.mytheme .fa-hourglass-1:before, .mytheme .fa-hourglass-start:before {
	content: "\f251";
}

.mytheme .fa-hourglass-2:before, .mytheme .fa-hourglass-half:before {
	content: "\f252";
}

.mytheme .fa-hourglass-3:before, .mytheme .fa-hourglass-end:before {
	content: "\f253";
}

.mytheme .fa-hourglass:before {
	content: "\f254";
}

.mytheme .fa-hand-grab-o:before, .mytheme .fa-hand-rock-o:before {
	content: "\f255";
}

.mytheme .fa-hand-stop-o:before, .mytheme .fa-hand-paper-o:before {
	content: "\f256";
}

.mytheme .fa-hand-scissors-o:before {
	content: "\f257";
}

.mytheme .fa-hand-lizard-o:before {
	content: "\f258";
}

.mytheme .fa-hand-spock-o:before {
	content: "\f259";
}

.mytheme .fa-hand-pointer-o:before {
	content: "\f25a";
}

.mytheme .fa-hand-peace-o:before {
	content: "\f25b";
}

.mytheme .fa-trademark:before {
	content: "\f25c";
}

.mytheme .fa-registered:before {
	content: "\f25d";
}

.mytheme .fa-creative-commons:before {
	content: "\f25e";
}

.mytheme .fa-gg:before {
	content: "\f260";
}

.mytheme .fa-gg-circle:before {
	content: "\f261";
}

.mytheme .fa-tripadvisor:before {
	content: "\f262";
}

.mytheme .fa-odnoklassniki:before {
	content: "\f263";
}

.mytheme .fa-odnoklassniki-square:before {
	content: "\f264";
}

.mytheme .fa-get-pocket:before {
	content: "\f265";
}

.mytheme .fa-wikipedia-w:before {
	content: "\f266";
}

.mytheme .fa-safari:before {
	content: "\f267";
}

.mytheme .fa-chrome:before {
	content: "\f268";
}

.mytheme .fa-firefox:before {
	content: "\f269";
}

.mytheme .fa-opera:before {
	content: "\f26a";
}

.mytheme .fa-internet-explorer:before {
	content: "\f26b";
}

.mytheme .fa-tv:before, .mytheme .fa-television:before {
	content: "\f26c";
}

.mytheme .fa-contao:before {
	content: "\f26d";
}

.mytheme .fa-500px:before {
	content: "\f26e";
}

.mytheme .fa-amazon:before {
	content: "\f270";
}

.mytheme .fa-calendar-plus-o:before {
	content: "\f271";
}

.mytheme .fa-calendar-minus-o:before {
	content: "\f272";
}

.mytheme .fa-calendar-times-o:before {
	content: "\f273";
}

.mytheme .fa-calendar-check-o:before {
	content: "\f274";
}

.mytheme .fa-industry:before {
	content: "\f275";
}

.mytheme .fa-map-pin:before {
	content: "\f276";
}

.mytheme .fa-map-signs:before {
	content: "\f277";
}

.mytheme .fa-map-o:before {
	content: "\f278";
}

.mytheme .fa-map:before {
	content: "\f279";
}

.mytheme .fa-commenting:before {
	content: "\f27a";
}

.mytheme .fa-commenting-o:before {
	content: "\f27b";
}

.mytheme .fa-houzz:before {
	content: "\f27c";
}

.mytheme .fa-vimeo:before {
	content: "\f27d";
}

.mytheme .fa-black-tie:before {
	content: "\f27e";
}

.mytheme .fa-fonticons:before {
	content: "\f280";
}

.mytheme .fa-reddit-alien:before {
	content: "\f281";
}

.mytheme .fa-edge:before {
	content: "\f282";
}

.mytheme .fa-credit-card-alt:before {
	content: "\f283";
}

.mytheme .fa-codiepie:before {
	content: "\f284";
}

.mytheme .fa-modx:before {
	content: "\f285";
}

.mytheme .fa-fort-awesome:before {
	content: "\f286";
}

.mytheme .fa-usb:before {
	content: "\f287";
}

.mytheme .fa-product-hunt:before {
	content: "\f288";
}

.mytheme .fa-mixcloud:before {
	content: "\f289";
}

.mytheme .fa-scribd:before {
	content: "\f28a";
}

.mytheme .fa-pause-circle:before {
	content: "\f28b";
}

.mytheme .fa-pause-circle-o:before {
	content: "\f28c";
}

.mytheme .fa-stop-circle:before {
	content: "\f28d";
}

.mytheme .fa-stop-circle-o:before {
	content: "\f28e";
}

.mytheme .fa-shopping-bag:before {
	content: "\f290";
}

.mytheme .fa-shopping-basket:before {
	content: "\f291";
}

.mytheme .fa-hashtag:before {
	content: "\f292";
}

.mytheme .fa-bluetooth:before {
	content: "\f293";
}

.mytheme .fa-bluetooth-b:before {
	content: "\f294";
}

.mytheme .fa-percent:before {
	content: "\f295";
}

.mytheme .fa-gitlab:before {
	content: "\f296";
}

.mytheme .fa-wpbeginner:before {
	content: "\f297";
}

.mytheme .fa-wpforms:before {
	content: "\f298";
}

.mytheme .fa-envira:before {
	content: "\f299";
}

.mytheme .fa-universal-access:before {
	content: "\f29a";
}

.mytheme .fa-wheelchair-alt:before {
	content: "\f29b";
}

.mytheme .fa-question-circle-o:before {
	content: "\f29c";
}

.mytheme .fa-blind:before {
	content: "\f29d";
}

.mytheme .fa-audio-description:before {
	content: "\f29e";
}

.mytheme .fa-volume-control-phone:before {
	content: "\f2a0";
}

.mytheme .fa-braille:before {
	content: "\f2a1";
}

.mytheme .fa-assistive-listening-systems:before {
	content: "\f2a2";
}

.mytheme .fa-asl-interpreting:before, .mytheme .fa-american-sign-language-interpreting:before {
	content: "\f2a3";
}

.mytheme .fa-deafness:before, .mytheme .fa-hard-of-hearing:before, .mytheme .fa-deaf:before {
	content: "\f2a4";
}

.mytheme .fa-glide:before {
	content: "\f2a5";
}

.mytheme .fa-glide-g:before {
	content: "\f2a6";
}

.mytheme .fa-signing:before, .mytheme .fa-sign-language:before {
	content: "\f2a7";
}

.mytheme .fa-low-vision:before {
	content: "\f2a8";
}

.mytheme .fa-viadeo:before {
	content: "\f2a9";
}

.mytheme .fa-viadeo-square:before {
	content: "\f2aa";
}

.mytheme .fa-snapchat:before {
	content: "\f2ab";
}

.mytheme .fa-snapchat-ghost:before {
	content: "\f2ac";
}

.mytheme .fa-snapchat-square:before {
	content: "\f2ad";
}

.mytheme .fa-pied-piper:before {
	content: "\f2ae";
}

.mytheme .fa-first-order:before {
	content: "\f2b0";
}

.mytheme .fa-yoast:before {
	content: "\f2b1";
}

.mytheme .fa-themeisle:before {
	content: "\f2b2";
}

.mytheme .fa-google-plus-circle:before, .mytheme .fa-google-plus-official:before {
	content: "\f2b3";
}

.mytheme .fa-fa:before, .mytheme .fa-font-awesome:before {
	content: "\f2b4";
}

.mytheme .fa-handshake-o:before {
	content: "\f2b5";
}

.mytheme .fa-envelope-open:before {
	content: "\f2b6";
}

.mytheme .fa-envelope-open-o:before {
	content: "\f2b7";
}

.mytheme .fa-linode:before {
	content: "\f2b8";
}

.mytheme .fa-address-book:before {
	content: "\f2b9";
}

.mytheme .fa-address-book-o:before {
	content: "\f2ba";
}

.mytheme .fa-vcard:before, .mytheme .fa-address-card:before {
	content: "\f2bb";
}

.mytheme .fa-vcard-o:before, .mytheme .fa-address-card-o:before {
	content: "\f2bc";
}

.mytheme .fa-user-circle:before {
	content: "\f2bd";
}

.mytheme .fa-user-circle-o:before {
	content: "\f2be";
}

.mytheme .fa-user-o:before {
	content: "\f2c0";
}

.mytheme .fa-id-badge:before {
	content: "\f2c1";
}

.mytheme .fa-drivers-license:before, .mytheme .fa-id-card:before {
	content: "\f2c2";
}

.mytheme .fa-drivers-license-o:before, .mytheme .fa-id-card-o:before {
	content: "\f2c3";
}

.mytheme .fa-quora:before {
	content: "\f2c4";
}

.mytheme .fa-free-code-camp:before {
	content: "\f2c5";
}

.mytheme .fa-telegram:before {
	content: "\f2c6";
}

.mytheme .fa-thermometer-4:before, .mytheme .fa-thermometer:before, .mytheme .fa-thermometer-full:before {
	content: "\f2c7";
}

.mytheme .fa-thermometer-3:before, .mytheme .fa-thermometer-three-quarters:before {
	content: "\f2c8";
}

.mytheme .fa-thermometer-2:before, .mytheme .fa-thermometer-half:before {
	content: "\f2c9";
}

.mytheme .fa-thermometer-1:before, .mytheme .fa-thermometer-quarter:before {
	content: "\f2ca";
}

.mytheme .fa-thermometer-0:before, .mytheme .fa-thermometer-empty:before {
	content: "\f2cb";
}

.mytheme .fa-shower:before {
	content: "\f2cc";
}

.mytheme .fa-bathtub:before, .mytheme .fa-s15:before, .mytheme .fa-bath:before {
	content: "\f2cd";
}

.mytheme .fa-podcast:before {
	content: "\f2ce";
}

.mytheme .fa-window-maximize:before {
	content: "\f2d0";
}

.mytheme .fa-window-minimize:before {
	content: "\f2d1";
}

.mytheme .fa-window-restore:before {
	content: "\f2d2";
}

.mytheme .fa-times-rectangle:before, .mytheme .fa-window-close:before {
	content: "\f2d3";
}

.mytheme .fa-times-rectangle-o:before, .mytheme .fa-window-close-o:before {
	content: "\f2d4";
}

.mytheme .fa-bandcamp:before {
	content: "\f2d5";
}

.mytheme .fa-grav:before {
	content: "\f2d6";
}

.mytheme .fa-etsy:before {
	content: "\f2d7";
}

.mytheme .fa-imdb:before {
	content: "\f2d8";
}

.mytheme .fa-ravelry:before {
	content: "\f2d9";
}

.mytheme .fa-eercast:before {
	content: "\f2da";
}

.mytheme .fa-microchip:before {
	content: "\f2db";
}

.mytheme .fa-snowflake-o:before {
	content: "\f2dc";
}

.mytheme .fa-superpowers:before {
	content: "\f2dd";
}

.mytheme .fa-wpexplorer:before {
	content: "\f2de";
}

.mytheme .fa-meetup:before {
	content: "\f2e0";
}

.mytheme .sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.mytheme .sr-only-focusable:active, .mytheme .sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}